{% extends 'base.html.twig' %}
{% block body %}
<div class="">
    {% for student in etudList %}
    <div class="student-list">
        First Name : {{student.firstName}} <br>
        Last Name : {{student.lastName}}<br>
        Num : {{student.numEtud}}<br>
    </div>
    {% endfor %}
</div>
<br>
{% endblock %}